force-app/main/default/flows/Employees_OpenAPI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CALLOUT010</name>
        <label>CALLOUT010 Delete Employee</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>HerokuOpenApiService.DeleteEmployee</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CALLOUT100</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>employeeId</name>
            <value>
                <elementReference>SCREEN999_EmployeeId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CALLOUT020</name>
        <label>CALLOUT020 Employee By ID</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>HerokuOpenApiService.GetEmployeeByID</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>SCREEN020</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>employeeId</name>
            <value>
                <elementReference>SCREEN999_EmployeeId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CALLOUT030</name>
        <label>CALLOUT030 Employee By ID</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <actionName>HerokuOpenApiService.GetEmployeeByID</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>SCREEN030</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>employeeId</name>
            <value>
                <elementReference>SCREEN999_EmployeeId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CALLOUT035</name>
        <label>CALLOUT035 Add Employee</label>
        <locationX>754</locationX>
        <locationY>974</locationY>
        <actionName>HerokuOpenApiService.AddEmployee</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CALLOUT100</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EmployeeSansId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CALLOUT036</name>
        <label>CALLOUT036 Update Employee</label>
        <locationX>1018</locationX>
        <locationY>974</locationY>
        <actionName>HerokuOpenApiService.UpdateEmployee</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CALLOUT100</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>employeeId</name>
            <value>
                <elementReference>SCREEN999_EmployeeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EmployeeUpdate</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CALLOUT100</name>
        <label>CALLOUT100 All Employees</label>
        <locationX>666</locationX>
        <locationY>1250</locationY>
        <actionName>HerokuOpenApiService.GetAllEmployees</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ASS100</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>ASS030</name>
        <label>ASS030 Clear Form Data</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CALLOUT030.200</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN030</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS035</name>
        <label>ASS035 Form To Object</label>
        <locationX>754</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>EmployeeSansId.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCREEN030_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeSansId.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCREEN030_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeSansId.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCREEN030_Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CALLOUT035</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS036</name>
        <label>ASS036 Form To Object</label>
        <locationX>1018</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>EmployeeUpdate.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCREEN030_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeUpdate.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCREEN030_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeUpdate.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCREEN030_Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CALLOUT036</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS100</name>
        <label>ASS100 All Employees</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>OpenAPI_Employees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CALLOUT100.200</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LOOP100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS105</name>
        <label>ASS105 Each Employee</label>
        <locationX>754</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Employee</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employee.ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP100.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employee.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP100.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employee.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP100.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employee.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP100.title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Employee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP100</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OPTION_End</name>
        <choiceText>End</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CASE030</name>
        <label>CASE030 Add or Update</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>CALLOUT030</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Employee</defaultConnectorLabel>
        <rules>
            <name>Add_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCREEN999_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS030</targetReference>
            </connector>
            <label>Add Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>CASE035_AddOrUpdate</name>
        <label>CASE035 Add or Update</label>
        <locationX>886</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>ASS036</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Employee</defaultConnectorLabel>
        <rules>
            <name>CASE035_Add_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCREEN999_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS035</targetReference>
            </connector>
            <label>Add Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>SELECT010</name>
        <label>SELECT010 Which Action?</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>SELECT010_DeleteEmployee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCREEN999_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CALLOUT010</targetReference>
            </connector>
            <label>Delete Employee</label>
        </rules>
        <rules>
            <name>SELECT010_GetEmployeeByID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCREEN999_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Get Employee By ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CALLOUT020</targetReference>
            </connector>
            <label>Get Employee By ID</label>
        </rules>
        <rules>
            <name>SELECT010_GetEmployees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCREEN999_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Get Employees</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CALLOUT100</targetReference>
            </connector>
            <label>Get Employees</label>
        </rules>
        <rules>
            <name>SELECT010_AddEmployee</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SCREEN999_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCREEN999_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CASE030</targetReference>
            </connector>
            <label>Add/Update Employee</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Options</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Options__c</picklistField>
        <picklistObject>Employee__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Employes OpenAPI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employees OpenAPI</label>
    <loops>
        <name>LOOP100</name>
        <label>LOOP100 All Employees</label>
        <locationX>666</locationX>
        <locationY>1466</locationY>
        <collectionReference>OpenAPI_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS105</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SCREEN100</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SCREEN020</name>
        <label>SCREEN020 Get Employee By ID</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SCREEN999</targetReference>
        </connector>
        <fields>
            <name>SCREEN020_Output</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(14, 44, 96);&quot;&gt;ID: &lt;/strong&gt;&lt;span style=&quot;color: rgb(14, 44, 96);&quot;&gt;{!CALLOUT020.200.id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(14, 44, 96);&quot;&gt;First Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(14, 44, 96);&quot;&gt;{!CALLOUT020.200.firstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(14, 44, 96);&quot;&gt;Last Name: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(14, 44, 96);&quot;&gt;{!CALLOUT020.200.lastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(14, 44, 96);&quot;&gt;Title: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(14, 44, 96);&quot;&gt;{!CALLOUT020.200.title}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN030</name>
        <label>SCREEN030 Input Employee</label>
        <locationX>886</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CASE035_AddOrUpdate</targetReference>
        </connector>
        <fields>
            <name>SCREEN030_FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CALLOUT030.200.firstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SCREEN030_LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CALLOUT030.200.lastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SCREEN030_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CALLOUT030.200.title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN100</name>
        <label>SCREEN100 All Employees</label>
        <locationX>666</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SCREEN999</targetReference>
        </connector>
        <fields>
            <name>SCREEN100_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Employee__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employees</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Employees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ID__c&quot;,&quot;guid&quot;:&quot;column-d0fe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FirstName__c&quot;,&quot;guid&quot;:&quot;column-4f65&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName__c&quot;,&quot;guid&quot;:&quot;column-d231&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title__c&quot;,&quot;guid&quot;:&quot;column-d703&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN999</name>
        <label>SCREEN999 Which action?</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SELECT010</targetReference>
        </connector>
        <fields>
            <name>SCREEN999_Options</name>
            <choiceReferences>Options</choiceReferences>
            <choiceReferences>OPTION_End</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Get Employees</stringValue>
            </defaultValue>
            <fieldText>Which Option?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCREEN999_EmployeeId</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Employee Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SCREEN999_Options</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Get Employees</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SCREEN999_Options</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Add Employee</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SCREEN999_Options</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>End</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCREEN999</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Employee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>Employees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>EmployeeSansId</name>
        <apexClass>ExternalService__HerokuOpenApiService_EmployeeSansID</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeUpdate</name>
        <apexClass>ExternalService__HerokuOpenApiService_EmployeeUpdate</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenAPI_Employees</name>
        <apexClass>ExternalService__HerokuOpenApiService_Employee</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
